
{% extends 'medewerker.html.twig' %}

{% block menu %}
    <li><a href="{{ path('activiteitenoverzicht') }}">home</a></li>
<li><a href="{{ path('beheer') }}"><span class="badge">beheer</span></a></li>
    <li><a href="{{ path('user_index') }}"><span class="badge"></span>beheer users</a></li>
{% endblock %}
{% block content %}


    {{ include('soortactiviteit/_form.html.twig') }}

{% endblock %}
